:host {
    
    .unit-details-header {

        .header-id {
            float: left;
        }

        .header-action {
            float: right;
        }
    }

    .form-element {
        padding: 5px 0px 5px 5px;
        width: 100%;
    }
}