<div fxLayout="Row" fxLayoutAlign="space-between center">
    <mat-card fxFlex="1 1 33%">
        <p>Placeholder</p>
    </mat-card>
    <mat-card fxFlex="1 1 33%">
        <p>Placeholder</p>
    </mat-card>
    <mat-card fxFlex="1 1 33%">
        <p>Placeholder</p>
    </mat-card>
</div>

<br />

<mat-divider></mat-divider>

<br />

<div fxLayout="row" fxLayoutAlign="space-between center" class="analytics-cards">
    <mat-card fxFlex="1 1 25%">

    </mat-card>
    <mat-card fxFlex="1 1 25%">

    </mat-card>
    <mat-card fxFlex="1 1 25%">

    </mat-card>
    <mat-card fxFlex="1 1 25%">

    </mat-card>
</div>

<br />

<mat-divider></mat-divider>
<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
        <!-- your content here -->
    </gridster-item>
</gridster>