<mat-nav-list>
    <div class="instance-name-card">
        <div class="header">
            <h2>Test Instance</h2>
            <h4>Description for test instance</h4>
        </div>
    </div>
    <mat-divider></mat-divider>

    <div class="home-dashboard-section">
        <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>home</mat-icon>Home</a>
    </div>

    <mat-divider></mat-divider>
    
    <div class="instances-header-section">
        <h2 matSubheader>Instances</h2>
        <button class="add-instance-button" mat-icon-button>
            
        </button>
    </div>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/instance"><mat-icon>supervised_user_circle</mat-icon>Dashboard</a>

    <a *ngFor="let instance of availableInstances" mat-list-item routerLinkActive="list-item-active" routerLink="/instance">
        <mat-icon>supervised_user_circle</mat-icon>
        {{ instance.name }}
    </a>

    <a mat-list-item>
        <mat-icon>add</mat-icon>
        Add an instance..
    </a>
    
    <mat-divider></mat-divider>

    <div class="sidebar-bottom-content">
        <mat-divider></mat-divider>
        <div class="profile-id-card">
            <div id="user-img-container">
                <img class="user-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="">
            </div>
            <div class="user-id-container">
                <label>Test User</label>
                <br/>
                <label>ID#1234</label>
            </div>       
        </div>
    </div>
</mat-nav-list>